/* CHANGE PASSWORD PAGE STYLE */

@use "../_abstracts/colors";
@use "../_partials/mixins";
#change-password-page {
    display: flex;
    .auth-form-container {
        max-width: 500px;
        .form-wrapper {
            max-width: 370px;
            margin: 0 auto;
            .btn {
                font-size: .8rem;
            }
        }
    }
    .inner {
        padding: 4em 0;
        .logo-img-wrapper {
            margin-bottom: 3em;
            display: inline-flex;
            max-width: 65px;
        }
    }
    form {
        .card-header {
            background-color: colors.$lightColor;
            font-weight: 600;
        }
    }
    #success-message {
        h1 {
            font-size: 1.6rem;
        }
    }
}