/* FORGOT PASSWORD PAGE STYLE */

@use "../_abstracts/colors";
@use "../_partials/mixins";
#forgot-password-page {
    display: flex;
    height: 100vh;
    .auth-form-container {
        max-width: 600px;
        .form-wrapper {
            max-width: 370px;
            margin: 0 auto;
            .btn {
                font-size: .8rem;
            }
        }
    }
    .title {
        font-size: 1.7rem;
        font-weight: 600;
    }
    .inner {
        padding: 4em 0;
        .logo-img-wrapper {
            margin-bottom: 3em;
            display: inline-flex;
            max-width: 65px;
        }
    }
}