#page-not-found-page {
    .content {
        min-height: 90vh;
        background-color: #F1F2F1;
        background-image: url(../assets/images/hero-banner-1-min.png);
        background-blend-mode: soft-light;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        .title {
            font-size: 1.6rem;
        }
        .status {
            font-size: 7rem;
            margin-top: 0;
            margin-bottom: 0;
            line-height: 90px;
        }
    }
}