/* SHOPPING CART PAGE STYLE */

@use "../_abstracts/colors";
@use "../_partials/mixins";
#shopping-cart-page {
    #shopping-cart-header {
        font-size: .85rem;
        >div {
            padding: .8em .5em;
            border: 1px solid colors.$greyColor;
        }
        .inner {
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            font-weight: 600;
            .image-col {
                grid-column: 1/3;
            }
            .name-col {
                grid-column: 3/7;
            }
            .quantity-col {
                grid-column: 7/9;
            }
            .price-col {
                grid-column: 9/11;
            }
            .sub-total-col {
                grid-column: 11/-1;
            }
        }
        @include mixins.maxmq(768px) {
            display: none;
        }
    }
    .item-row {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        font-size: .8rem;
        >div {
            padding: .5em;
            border: 1px solid colors.$greyColor;
        }
        .item-image-col {
            grid-column: 1/2;
            .item-image-wrapper {
                max-width: 120px;
            }
        }
        .item-name-col {
            grid-column: 2/7;
            font-weight: 600;
            .item-name-wrapper {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                .item-name {
                    margin-right: 2em;
                }
                .view-item {
                    background-color: colors.$successColor;
                    font-size: .75rem;
                    color: #ffffff;
                    padding: .5em;
                }
            }
            .action {
                .btn {
                    font-size: .8rem;
                    font-weight: 500;
                    &:first-child {
                        margin-right: .5em;
                    }
                }
                .remove-item-btn {
                    color: colors.$dangerColor;
                    svg {
                        width: 10;
                    }
                }
                .save-item-btn {
                    color: colors.$warningColor;
                }
            }
        }
        .item-quantity-col {
            grid-column: 7/9;
            >.inner.qty-ctrl {
                max-width: 150px;
                margin: 0 auto;
            }
        }
        .item-price-col {
            grid-column: 9/11;
            font-weight: 600;
        }
        .item-sub-total-col {
            grid-column: 11/-1;
            font-weight: 600;
        }
        @include mixins.maxmq(768px) {
            .item-image-col {
                grid-column: 1/4;
            }
            .item-name-col {
                grid-column: 4/-1;
            }
            .item-quantity-col {
                grid-column: 1/5;
            }
            .item-price-col {
                grid-column: 5/9;
            }
            .item-sub-total-col {
                grid-column: 9/-1;
            }
        }
    }
    #total-cost {
        text-align: right;
        border-bottom: 1px solid colors.$greyColor;
        .inner {
            font-weight: 600;
            display: inline-block;
            margin-left: auto;
        }
    }
    .proceed-to-checkout-link-wrapper {
        text-align: right;
        border-bottom: 1px solid colors.$greyColor;
    }
}