@use '../_abstracts/colors';
.list-style-none {
    li {
        list-style: none;
    }
}

.dark-link {
    color: colors.$darkColor;
    &:hover {
        text-decoration: none;
        color: colors.$successColor;
    }
}

.success-link {
    color: colors.$successColor;
    &:hover {
        text-decoration: none;
        color: colors.$darkColor;
    }
}

.bold {
    font-weight: bold;
}

.text-warningColor {
    color: colors.$warningColor;
}