@use '../_abstracts/colors';
@use '../_partials/mixins';
.list-style-none {
    >li {
        list-style: none;
    }
}

.dark-link {
    color: colors.$darkColor;
    &:hover {
        text-decoration: none;
        color: colors.$successColor;
    }
}

.success-link {
    color: colors.$successColor;
    &:hover {
        text-decoration: none;
        color: colors.$darkColor;
    }
}

.bold {
    font-weight: bold;
}

.bold-600 {
    font-weight: 600;
}

.text-warningColor {
    color: colors.$warningColor;
}

.text-successColor {
    color: colors.$successColor;
}

.star-rating {
    i {
        color: colors.$warningColor;
    }
}

.cursor-pointer {
    cursor: pointer;
}

.horizon-separator {
    border-right: 1px solid colors.$darkColor;
    height: 50px;
    margin-right: 1em;
    margin-left: 1em;
    display: none;
    @include mixins.minmq(1000px) {
        display: block;
    }
}


/* animation */
/* This only changes this particular animation duration */
.animate__animated.animate__bounce {
  --animate-duration: 3s;
}

/* This changes all the animations globally */
:root {
  --animate-duration: 800ms;
  --animate-delay: 0.9s;
}
#what-we-do .text-content {
  display: block;
  margin: 0 0.5rem;
  animation: fadeInUpBig; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 3s; /* don't forget to set a duration! */
}

#why-choose-us .features-wrapper {
  animation: fadeInUpBig; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 3s; /* don't forget to set a duration! */
}