@use '../_abstracts/colors';
.list-style-none {
    >li {
        list-style: none;
    }
}

.dark-link {
    color: colors.$darkColor;
    &:hover {
        text-decoration: none;
        color: colors.$successColor;
    }
}

.success-link {
    color: colors.$successColor;
    &:hover {
        text-decoration: none;
        color: colors.$darkColor;
    }
}

.bold {
    font-weight: bold;
}

.bold-600 {
    font-weight: 600;
}

.text-warningColor {
    color: colors.$warningColor;
}

.text-successColor {
    color: colors.$successColor;
}

.star-rating {
    i {
        color: colors.$warningColor;
    }
}

.cursor-pointer {
    cursor: pointer;
}

.horizon-separator {
    border-right: 1px solid colors.$darkColor;
    height: 50px;
    margin-right: 1em;
    margin-left: 1em;
}