$dangerColor: #EA4B4B;
$successColor: #209E02;
$successLightColor: #41CF1F;
$warningColor: #F7B710;
$darkColor: #414143;
$greyColor: #C4C4C4;
$lightColor: #F1F2F1;
$blackColor: #202020;
$mainBodyColor: #E5E5E5;