@use '../_abstracts/colors';
@use '../_partials/mixins';
.title-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 4em;
    hr {
        display: block;
        border-top: 1px solid colors.$darkColor;
        width: 100%;
    }
    .title {
        font-size: 1.7rem;
        font-weight: 600;
        text-align: center;
        margin: 0 2em;
        white-space: nowrap;
        @include mixins.maxmq(600px) {
            white-space: normal;
        }
    }
}

.auth-form-container {
    max-width: 500px;
    margin: 0 auto;
    aside {
        margin: 5em 0;
        text-align: center;
        font-size: .8rem;
        a {
            font-weight: 600;
        }
    }
}