@use '../_abstracts/colors';
@use '../_partials/mixins';
input[type="text"],
input[type="password"],
input[type="number"],
input[type="email"],
input[type="date"],
input[type="time"],
input[type="file"],
.custom-file-input,
.custom-file-label,
textarea,
select,
.form-control {
    border-radius: 0;
    border: 1px solid #c4c4c4;
    padding: 0.5em 0.6em;
    font-size: .88rem;
    &:focus {
        outline: 0;
        box-shadow: none;
        border: 1px solid colors.$successColor;
    }
    &::placeholder {
        // font-family: $primary-font-family;
    }
    &::-webkit-input-placeholder {
        /* Edge */
        // font-family: $primary-font-family;
    }
    &:-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        // font-family: $primary-font-family;
    }
}

// * Hide Arrows From Input Number Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* Hide Arrows From Input Number Firefox */

input[type="number"] {
    -moz-appearance: textfield;
}


/* Custom form select dropdown */

select {
    @include mixins.appearance(none);
    option {
        margin: 5em;
        line-height: 2;
        font: inherit;
    }
    &::after {
        content: "hhhhh";
    }
}

.select-drop-wrapper {
    position: relative;
    &::after {
        // @include after('\f0d7', 20px);
        @include mixins.after('\f0dd', 20px);
        position: absolute;
        right: .5rem;
        // color: $active-component-color;
        pointer-events: none;
        bottom: 0.3em;
    }
}

legend {
    font-size: 1rem;
    font-weight: 600;
}

form {
    label,
    .btn {
        font-size: .85rem;
    }
}