@use '../_partials/mixins';
@use '../_abstracts/colors';
.item-dropdown {
    margin-right: 1.7em;
    position: relative;
    &.drop-icon {
        >*:first-child:after {
            @include mixins.after("\f078", inherit);
            margin-left: 5px;
        }
        &:hover {
            >*:first-child:after {
                content: "\f077";
            }
        }
    }
    .item-dropdown-content {
        z-index: 20;
        @include mixins.transform(scaleY(0));
        .list-style-none {
            width: 250px;
            //margin-top: 40px;
        }
    }
    &:hover {
        .item-dropdown-content {
            @include mixins.transform(scaleY(1));
            @include mixins.transition(all 300ms ease-in-out);
        }
    }
}

.item-dropdown-content {
    font-size: .8rem;
    position: absolute;
    width: auto;
    display: inline-block;
    @include mixins.transition(all 300ms ease-in-out);
    transform-origin: top;
    .list-style-none {
        background-color: #ffffff;
    }
    .list-item {
        border-bottom: 1px solid colors.$darkColor;
        a {
            color: colors.$darkColor;
            &:hover {
                text-decoration: none;
                color: colors.$successColor;
            }
        }
        &:last-child {
            border-bottom: none;
        }
    }
}