    @use '../_partials/mixins';
    @use '../_abstracts/colors';
    #toolbar {
        background-color: #ffffff;
        .navbar-brand {
            background-image: url(../assets/images/navbrand-logo-min.png);
            background-repeat: no-repeat;
            background-size: contain;
            height: 80px;
            width: 80px;
            h2 {
                text-indent: -1000px;
            }
        }
        .shopping-cart-wrapper {
            position: relative;
            &#mobile-shopping-cart-counter {
                display: flex;
                align-items: center;
                @include mixins.minmq(1000px) {
                    display: none;
                }
            }
            &#lg-shopping-cart-counter {
                @include mixins.maxmq(1000px) {
                    display: none;
                }
            }
            @include mixins.minmq(1200px) {
                // padding-left: 2em;
            }
            .dark-link {
                font-size: .8rem;
                font-weight: 600;
            }
            .cust-badge {
                background-color: colors.$successColor;
                color: #ffffff;
                border: 1px solid colors.$darkColor;
                // min-height: 18px;
                // min-width: 18px;
                padding: .005em .3em;
                border-radius: 50%;
                display: inline-flex;
                position: absolute;
                align-items: center;
                justify-content: center;
                left: 5px;
                top: 10px;
            }
        }
        .user-auth-nav {
            font-size: .8rem;
            padding: .5em;
            .dark-link {
                font-weight: 500;
            }
            .greet {
                display: none;
            }
            @include mixins.minmq(1200px) {
                // border-right: 1px solid black;
                // padding-right: 2em;
                >div {
                    padding-top: 0;
                    padding-bottom: 0;
                }
                .greet {
                    display: block;
                }
            }
        }
        #navbarNav {
            padding-top: 1em;
            padding-bottom: 1em;
        }
        .navbar-nav {
            .nav-item {
                margin-right: 1.3em;
                .nav-link {
                    text-transform: uppercase;
                    font-size: .82rem;
                    font-weight: 600;
                    white-space: nowrap;
                    color: colors.$darkColor;
                    @include mixins.transition(all 300ms ease-in-out);
                    &:hover {
                        color: colors.$successColor;
                    }
                }
                &.hover,
                &.active {
                    .nav-link {
                        color: colors.$successColor;
                    }
                }
                .list-style-none {
                    // width: 160px;
                    background-color: #ffffff;
                    margin-top: 0;
                    @include mixins.minmq(1000px){                    
                        margin-top: 40px;
                    }
                }
                &:last-child {
                    margin-right: 0;
                    display: flex;
                    flex-direction: column;
                    align-items: end;
                }
            }
        }
        .user-account-dropdown {
            width: 200px;
        }
    }