/* PAGINATION NAV STYLE */

@use "../_abstracts/colors";
@use "../_partials/mixins";
.pagination {
    margin-top: 4em;
}

.page-item {
    margin-left: .5em;
    &:last-child,
    &:first-child {
        .page-link {
            border: none;
            background-color: unset;
            color: inherit;
            &:hover {
                background-color: unset;
                border-color: unset;
                color: inherit;
            }
        }
    }
    .page-link {
        border-radius: 50%;
        padding: .5em;
        height: 28px;
        width: 28px;
        display: grid;
        place-content: center;
        font-size: .7rem;
        background-color: colors.$greyColor;
        color: inherit;
        font-weight: 600;
        @include mixins.transition(all 300ms ease-in-out);
        &:focus,
        &:hover {
            z-index: 1;
            outline: 0;
            box-shadow: 0 0 0 0.2rem colors.$greyColor;
            color: #ffffff;
        }
    }
    &.active,
    &:hover {
        .page-link {
            background-color: colors.$successColor;
            border-color: colors.$successLightColor;
            z-index: 1;
            &:focus,
            &:hover {
                box-shadow: 0 0 0 0.2rem colors.$successLightColor;
            }
        }
    }
}