/* SNACKBAR STYLE */

@use "../_abstracts/colors";
@use "../_partials/mixins";
#toolbar {
    .inner {
        position: relative;
        .snack-bar {
            position: absolute;
            padding: 1em;
            color: #ffffff;
            font-size: .7rem;
            top: 100%;
            right: 0;
            margin-top: 15px;
            display: none;
            text-transform: uppercase;
            &.show {
                display: block;
            }
            &.added-to-cart {
                background-color: colors.$successColor;
            }
            &.added-to-wish-list {
                background-color: colors.$warningColor;
            }
        }
    }
}