@use '../_abstracts/colors';
@use '../_partials/mixins';

/* TOP HEADER */

#top-header {
    background-color: colors.$darkColor;
    color: #ffffff;
    font-size: .8rem;
    padding-top: .8em;
    padding-bottom: .8em;
    li {
        padding-top: .4em;
        padding-bottom: .4em;
    }
    .social-medial-icons {
        svg {
            @include mixins.transition(all 300ms ease-in-out);
            &:hover {
                path {
                    @include mixins.transition(all 300ms ease-in-out);
                    fill: colors.$greyColor;
                }
            }
        }
    }
    .social-medial-icons {
        ul {
            li {
                margin-left: 1.3em;
                &:first-child {
                    margin-left: 0;
                }
            }
        }
    }
}

.contact {
    li {
        margin-right: 1.5em;
        &:last-child {
            margin-left: 0;
        }
    }
}